@font-face {
    font-family: "PTSans-Bold";
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PTSans-Regular";
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum-Italic";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum-Regular";
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cuprum-Bold";
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-----Header-----*/

.main-header {
    width: 100%;
    min-height: 320px;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    background-color: #f4f7f9;
}

/*Навигация пользователя*/

.user-header {
    background-color: #32425c;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-header-logo {
    width: 110px;
    display: block;
    padding: 13px 55px 3px 55px;
    -webkit-box-shadow: 0px 5px 0px #b52933;
    box-shadow: 0px 5px 0px #b52933;
    background-color: #ee3643;
}

.main-header-logo:hover {
    background-color: #ca2c37;
    -webkit-box-shadow: 0px 5px 0px #9a212a;
    box-shadow: 0px 5px 0px #9a212a;
}

.main-header-logo:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0px 5px 0px #8e1e26;
    box-shadow: 0px 5px 0px #8e1e26;
}

.search-form {
    margin: 0 auto 0 0;
    padding: 0;
    position: relative;
}

.search-form svg {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 0.3;
}

.search {
    width: 270px;
    min-height: 42px;
    padding-left: 49px;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    cursor: pointer;
    border: 0;
    background-color: #32425c;
}

.search:hover {
    cursor: pointer;
    background-color: #212a3a;
}

.search:hover + svg,
.search:focus + svg {
    opacity: 1;
}

.search:focus ~ svg > path {
    fill: #ee3643;
}

.search:focus {
    outline: none;
    color: #000000;
    background-color: #ffffff;
}

.search::-webkit-input-placeholder {
    color: #ffffff;
}

.search:-ms-input-placeholder {
    color: #ffffff;
}

.search::-ms-input-placeholder {
    color: #ffffff;
}

.search::placeholder {
    color: #ffffff;
}

.user-navigation-link {
    position: relative;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

.bookmarks-link {
    padding: 12px 32px 12px 45px;
}

.bookmarks-link:hover {
    background-color: #212a3a;
}

.bookmarks-link:active {
    opacity: 0.5;
    background-color: #161d29;
}

.bookmarks-link::before {
    width: 14px;
    height: 16px;
    position: absolute;
    content: " ";
    left: 16px;
    opacity: 0.3;
    background-image: url("../img/icon-bookmark.svg");
}

.bookmarks-link:hover::before {
    opacity: 1;
}

.bookmarks-link:active:before {
    opacity: 0.5;
}

.basket-link {
    padding: 12px 30px 12px 44px;
}

.basket-link:hover {
    background-color: #212a3a;
}

.basket-link:active {
    opacity: 0.5;
    background-color: #161d29;
}

.basket-link::before {
    width: 15px;
    height: 15px;
    position: absolute;
    content: " ";
    left: 15px;
    opacity: 0.3;
    background-image: url("../img/icon-cart.svg");
}

.basket-link:hover::before {
    opacity: 1;
}

.basket-link:active::before {
    opacity: 0.5;
}

.order-link {
    padding: 12px 21px;
    background-color: #63a63e;
}

.order-link:hover {
    background-color: #5fbb2d;
}

.order-link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

/*Контакты*/

.contacts {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 46px;
    padding-bottom: 40px;
}

.main-title {
    width: 200px;
    margin: 0;
    padding: 3px 52px 0px 52px;
    font-family: "Cuprum-Italic", Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
}

.contacts-info {
    min-width: 270px;
    margin-right: 38px;
}

.contacts-tel {
    position: relative;
    padding: 10px 0px 9px 23px;
    display: block;
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    border: solid 3px #ffffff;
    color: #ee3643;
}

.contacts-tel::before {
    width: 19px;
    height: 19px;
    position: absolute;
    content: " ";
    left: 13px;
    background-image: url("../img/icon-phone.svg");
}

.contacts-address {
    margin: 0;
    padding-left: 12px;
    padding-top: 3px;
    font-family: inherit;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: #32425c;
}

.user-navigation-list {
    margin: 0;
    padding: 0;
    margin-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.user-navigation-item {
    padding-left: 10px;
}

.login-link,
.registration-link {
    padding: 12px 24px;
    display: block;
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

.login-link {
    padding-left: 50px;
    position: relative;
}

.login-link:hover,
.registration-link:hover {
    color: #ee3643;
}

.login-link:active,
.registration-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.login-link::before {
    width: 20px;
    height: 17px;
    position: absolute;
    content: " ";
    left: 15px;
    top: 14px;
    opacity: 0.3;
    background-image: url("../img/icon-login.svg");
}

.login-link:hover::before {
    opacity: 1;
}

.login-link:active::before {
    opacity: 0.3;
}

/*Основная навигация*/

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-navigation-item {
    border-bottom: solid 5px #293449;
}

.site-navigation-link {
    display: block;
    padding: 19px 30px 19px 29px;
    font-family: inherit;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    color: #ffffff;
    background-color: #32425c;
}

.main-link {
    padding-left: 54px;
    padding-right: 33px;
}

.contacts-link {
    padding-right: 54px;
    padding-left: 34px;
}

.site-navigation-link:hover {
    background-color: #293449;
}

.site-navigation-link:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #1d2739;
}

/*-----MAIN-----*/

.main-content {
    font-family: "Cuprum-Regular", Arial, sans-serif;
}

/*Промо блок, категории товаров*/

.category-list {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.category-title {
    margin: 0;
    padding: 21px 23px 12px 23px;
    font-family: "Cuprum-Bold", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;

}

.category-btn {
    width: 135px;
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    margin-left: 24px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}

.category-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.new-category {
    width: 60px;
    height: 59px;
    position: absolute;
    right: 0;
    top: 0;
}

.category-materials {
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    background-image: url("../img/icon-paint-can.png");
}

.category-tools {
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
    background-image: url("../img/icon-drills.png");
}

.category-technique {
    width: 300px;
    min-height: 123px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url("../img/icon-technique.png");
}

.category-discount {
    width: 300px;
    min-height: 123px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url("../img/icon-basket.png");
}

.category-delivery {
    width: 300px;
    min-height: 123px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url("../img/icon-delivery.png");
}

/*Cлайдер*/

.promotional-products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 59px;
}

.category-list-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.category-list-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-slider {
    position: relative;
}

.button-slider {
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.btn-back {
    position: absolute;
    left: 20px;
    top: calc(42%);
}

.btn-next {
    position: absolute;
    right: 15px;
    top: calc(42%);
}

.promo-slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.promo-slider-item {
    width: 620px;
    min-height: 266px;
    position: relative;
    z-index: 0;
    background-color: #555555;
}

.promo-slider-title {
    margin: 0;
    padding-top: 23px;
    padding-left: 23px;
    font-family: "Cuprum-Bold", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.promo-slider-description {
    margin: 0;
    padding-left: 25px;
    padding-top: 2px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.promo-slider-item img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.promo-slider-btn {
    width: 195px;
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    position: absolute;
    left: 26px;
    bottom: 22px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.promo-slider-btn:hover {
    background-color: #ca2c37;
}

.promo-slider-btn:active {
    background-color: #ba2732;
}

.slider-none {
    display: none;
}

.promo-slider-controls {
    position: absolute;
    left: 295px;
    bottom: 32px;
}

.promo-slider-controls-btn {
    padding: 0;
    margin-right: 7px;
    position: relative;
    border: solid 5px #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.btn-active::after {
    width: 6px;
    height: 6px;
    position: absolute;
    content: " ";
    left: 50%;
    top: 50%;
    border-radius: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #ee3643;
}

/*Популярные товары*/
/*Популярные производители*/

.popular-product,
.manufacturer-title {
    font-family: "Cuprum-Regular", Arial, sans-serif;
}

.popular-title,
.manufacturer-title {
    margin-top: 33px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f9f5f0;
}

.popular-product-title,
.popular-manufacturer-title {
    margin: 0;
    padding: 30px 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.popular-product-btn,
.popular-manufacturer-btn {
    width: 253px;
    display: block;
    margin: 25px 24px 27px 24px;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.popular-product-btn:hover,
.popular-manufacturer-btn:hover {
    background-color: #ca2c37;
}

.popular-product-btn:active,
.popular-manufacturer-btn:active {
    background-color: #ba2732;
}

.manufacturer-title {
    margin: 0;
}

.popular-manufacturer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.popular-manufacturer-item {
    width: 218px;
    min-height: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid #eaeaea;
}

.popular-manufacturer-item:nth-child(4n+4) {
    margin-right: 0;
}

.popular-manufacturer-item:hover {
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-manufacturer-item:active {
    opacity: 0.3;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/*Карточки товара*/

.popular-product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: "PTSans-Bold", Arial, sans-serif;
    list-style: none;
}

.popular-product-item,
.popular-product-item-zero {
    width: 218px;
    min-height: 314px;
    margin-bottom: 21px;
    margin-right: 20px;
    position: relative;
    border: 1px solid #eaeaea;
}

.popular-product-item-zero {
    margin-bottom: 22px;
}

.popular-product-item:nth-child(4n+4) {
    margin-right: 0;
}

.popular-product-item-zero:nth-child(3n+3) {
    margin-right: 0;
}

.popular-product-item:hover,
.popular-product-item-zero:hover {
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-product-item:hover .catalog-btn,
.popular-product-item-zero:hover .catalog-btn {
    display: block;
}

.catalog-btn {
    display: none;
    margin: 0;
    padding: 43px 41px;
    position: absolute;
    top: 0;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size:  14px;
    line-height: 18px;
    background-color: #ffffff;
}

.catalog-cart-btn {
    width: 135px;
    display: block;
    margin-bottom: 9px;
    padding: 11px 0px 6px 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 0px #367315;
    box-shadow: 0px 3px 0px #367315;
    background-color: #63a63e;
}

.catalog-cart-btn:hover {
    background-color: #5fbb2d;
}

.catalog-cart-btn:active {
    -webkit-box-shadow: 0px 3px 0px #518534;
    box-shadow: 0px 3px 0px #518534;
    background-color: #518534;
}

.catalog-cart-btn:hover::before {
    opacity: 1;
}

.catalog-cart-btn::before {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 11px;
    left: 12px;
    content: " ";
    opacity: 0.3;
    background-image: url("../img/icon-cart.svg");
}

.catalog-bookmark-btn {
    width: 129px;
    display: block;
    margin: 0;
    padding: 9px 0px 7px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    color: #32425c;
    border: 3px solid #63a63e;
    background-color: #ffffff
}

.catalog-bookmark-btn:hover {
    border: 3px solid #32425c;
}

.catalog-bookmark-btn:active {
    opacity: 0.3;
    border: 3px solid #32425c;
}

.new-product-label {
    width: 60px;
    height: 59px;
    position: absolute;
    top: -2px;
    right: -1px;
    z-index: 1;
}

.catalog-title {
    width: 190px;
    margin: 0;
    padding: 0px 14px;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.past-price-btn {
    display: block;
    padding: 11px 0px 10px 0px;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #a9a9a9;
}

.current-price-btn {
    width: 140px;
    display: block;
    padding: 11px 0px 10px 0px;
    margin-left: 42px;
    margin-bottom: 19px;
    position: relative;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.btn-from {
    margin-top: 39px;
}

.current-price-btn::before {
    position: absolute;
    content: " ";
    right: 0px;
    bottom: 19px;
    border-top: 20px solid #ffffff;
    border-left: 19px solid #ee3643;
}

.current-price-btn::after {
    position: absolute;
    content: " ";
    right: 0px;
    bottom: 0px;
    border-bottom: 19px solid #ffffff;
    border-left: 19px solid #ee3643;
}

/*Слайдер сервисов*/

.services {
    margin-top: 84px;
    padding-top: 65px;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    background-color: #f4f7f9;
}

.service-title {
    margin: 0;
    padding-bottom: 27px;
    font-family: inherit;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.slider-services {
    padding-top: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slider-controls-list,
.slider-services-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-controls-list {
    margin-right: 80px;
    position: relative;
}

.slider-controls-list::after {
    width: 10px;
    height: 279px;
    position: absolute;
    content: " ";
    right: 0;
    top: -40px;
    background-image: url("../img/slider-shadow-right.png");
}

.slider-controls-btn:hover:not(.button-active) {
    background-color: #293449;
}

.slider-controls-btn {
    width: 240px;
    padding: 16px 22px 15px 22px;
    margin-bottom: 1px;
    font-family: "Cuprum-Bold", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
    border: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-box-shadow: inset 0px 1px 0px #405069, 0px 1px 0px #293449;
    box-shadow: inset 0px 1px 0px #405069, 0px 1px 0px #293449;
    background-color: #32425c;
}

.button-active {
    color: #32425c;
    -webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px 1px 0px #ffffff;
    box-shadow: inset 0px 1px 0px #ffffff, 0px 1px 0px #ffffff;
    background-color: #ffffff;
}

.slider-services-item {
    width: 630px;
    min-height: 284px;
    display: none;
}

.slider-active {
    display: block;
}

.slider-services-title {
    margin: 0;
    padding-top: 4px;
    font-family: inherit;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.service-description,
.slider-services-delivery,
.slider-services-guarantee,
.slider-services-loan {
    margin: 0;
    font-family: "PTSans-Regular", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.slider-services-delivery {
    width: 275px;
    padding: 32px 0px;
    position: relative;
}

.delivery {
    background-position: 151px 23px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-slider-delivery.png");
}

.slider-services-guarantee {
    width: 375px;
    padding: 32px 0px;
    position: relative;
}

.guarantee {
    background-position: 239px 0;
    background-repeat: no-repeat;
    background-image: url("../img/icon-slider-guarantee.png");
}

.slider-services-loan {
    padding: 32px 0px 25px 0px;
    position: relative;
}

.loan {
    background-position: 165px 0px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-slider-loan.png");
}

.slider-services-btn {
    width: 195px;
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

/*Контакты*/

.about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 80px 0px 86px 0px;
    font-family: "Cuprum-Regular", Arial, sans-serif;
}

.about-us-info {
    min-width: 640px;
}

.contacts-title,
.communication-title {
    margin: 0;
    font-family: inherit;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}

.contacts-description,
.communication-description {
    margin: 0;
    padding-top: 25px;
    font-family: "PTSans-Regular", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.contacts-description:nth-child(2) {
    width: 510px;
}

.contacts-description:nth-child(3) {
    width: 445px;
}

.company-list {
    margin: 0;
    padding: 10px 35px 26px 35px;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    list-style: none;
    color: #000000;
}

.company-item {
    padding: 10px 0px;
    position: relative;
}

.company-item::before {
    width: 25px;
    height: 2px;
    position: absolute;
    content: " ";
    left: -35px;
    top: 19px;
    background-color: #ee3643;
}

.about-btn {
    width: 220px;
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.about-btn:hover {
    background-color: #ca2c37;
}

.about-btn:active {
    background-color: #ba2732;
}

.communication-description {
    width: 215px;
    padding-bottom: 31px;
}

.communication-map {
    width: 300px;
    height: 158px;
    display: block;
    margin-bottom: 31px;
    color: #ffffff;
    background-color: #555555
}

.communication-btn {
    width: 300px;
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    font-family: inherit;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.communication-btn:hover {
    background-color: #ca2c37;
}

.communication-btn:active {
    background-color: #ba2732;
}

/*-----FOOTER-----*/

.main-footer {
    width: 100%;
    font-family: "Cuprum-Regular", Arial, sans-serif;
}

.footer-navigation {
    background-color: #32425c;
}

.footer-columns-1 {
    min-height: 193px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-address {
    min-width: 387px;
}

.footer-logo {
    width: 138px;
    display: block;
    padding: 21px 40px 11px 41px;
    -webkit-box-shadow: 0px 5px 0px #b52933;
    box-shadow: 0px 5px 0px #b52933;
    background-color: #ee3643;
}

.footer-logo:hover {
    background-color: #ca2c37;
    -webkit-box-shadow: 0px 5px 0px #9a212a;
    box-shadow: 0px 5px 0px #9a212a;
}

.footer-logo:active {
    background-color: #ba2732;
    -webkit-box-shadow: 0px 5px 0px #8e1e26;
    box-shadow: 0px 5px 0px #8e1e26;
}

.footer-contacts {
    padding: 33px 4px;
}

.footer-contacts-address,
.footer-contacts-tel {
    margin: 0;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    text-decoration: none;
    color: #f3f7f9;
}

.footer-main-navigation {
    min-width: 553px;
}

.footer-list-1,
.footer-list-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-list-1 {
    padding-top: 38px;
    padding-left: 6px;
}

.footer-list-2 {
    padding-top: 32px;
    padding-left: 30px;
}

.footer-link-1,
.footer-link-2 {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #f3f7f9;
}

.footer-link-1:hover,
.footer-link-2:hover {
    text-decoration: underline;
}

.footer-link-1:active,
.footer-link-2:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer-link-2 {
    color: #ffda96;
}

.footer-columns-2 {
    background-color: #293449;
}

.footer-info{
    min-height: 107px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-contacts-us {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 37px;
    padding-left: 2px;
}

.info-company {
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    padding-top: 35px;
    padding-left: 48px;
    list-style: none;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #212a3a;
}

.footer-social-item:hover {
    background-color: #ee3643;
}

.footer-social-item:active {
    background-color: #ee3643;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    display: block;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.social-vk {
    background-image: url("../img/icon-vk.svg");
}

.social-fb {
    background-image: url("../img/icon-fb.svg");
}

.social-in {
    background-image: url("../img/icon-insta.svg");
}

.footer-feedback,
.footer-copyright {
    margin: 0;
    padding-top: 37px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-feedback {
    width: 188px;
}

.footer-copyright {
    width: 111px;
}

.info-feedback-link {
    text-decoration: none;
    color: #ffd180;
}

.info-feedback-link:hover {
    text-decoration: underline;
}

.info-feedback-link:active {
    text-decoration: none;
    color: #ee3643;
}

/*Всплывающие окна*/

@-webkit-keyframes bounce {
    0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
    }

    70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    }

    90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    }

    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }

}

@keyframes bounce {
    0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
    }

    70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    }

    90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    }

    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    }
}

.modal-feedback,
.modal-basket {
    width: 620px;
    display: none;
    position: fixed;
    top: 25%;
    left: 34%;
    z-index: 1;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75), inset 0px 7px 0px #ee3643;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75), inset 0px 7px 0px #ee3643;
    background-color: #ffffff;
}

.feedback-form {
    position: relative;
}

.modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 55px 55px 35px 80px;
}

.modal-input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modal-input-wrap label {
    padding-bottom: 9px;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.modal-input-wrap input {
    width: 202px;
    padding: 8px 0px 8px 14px;
    font-family: "PTSans-Regular", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    border: solid 2px #dee3e4;
    border-radius: 3px;
}

.modal-input-wrap input:hover {
    border: solid 2px #b5b5b5;
}

.modal-input-wrap input:focus {
    outline: none;
    border: solid 2px #ee3643;
}

.modal-input-wrap input::-webkit-input-placeholder {
    color: #b5b5b5;
}

.modal-input-wrap input:-ms-input-placeholder {
    color: #b5b5b5;
}

.modal-input-wrap input::-ms-input-placeholder {
    color: #b5b5b5;
}

.modal-input-wrap input::placeholder {
    color: #b5b5b5;
}

.modal-input-wrap input:hover::-webkit-input-placeholder,
.modal-input-wrap input:focus::-webkit-input-placeholder {
    color: #999999;
}

.modal-input-wrap input:hover:-ms-input-placeholder,
.modal-input-wrap input:focus:-ms-input-placeholder {
    color: #999999;
}

.modal-input-wrap input:hover::-ms-input-placeholder,
.modal-input-wrap input:focus::-ms-input-placeholder {
    color: #999999;
}

.modal-input-wrap input:hover::placeholder,
.modal-input-wrap input:focus::placeholder {
    color: #999999;
}

.modal-name {
    padding-right: 20px;
}

.modal-input-wrap textarea {
    width: 425px;
    height: 90px;
    padding: 9px 15px 12px 15px;
    font-family: "PTSans-Regular", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    resize: none;
    color: #000000;
    border-radius: 3px;
    border: solid 2px #dee3e4;
}

.modal-input-wrap textarea:hover {
    border: solid 2px #b5b5b5;
}

.modal-input-wrap textarea:focus {
    outline: none;
    border: solid 2px #ee3643;
}

.modal-input-wrap textarea::-webkit-input-placeholder {
    color: #a9a9a9;
}

.modal-input-wrap textarea:-ms-input-placeholder {
    color: #a9a9a9;
}

.modal-input-wrap textarea::-ms-input-placeholder {
    color: #a9a9a9;
}

.modal-input-wrap textarea::placeholder {
    color: #a9a9a9;
}

.modal-input-wrap textarea:hover::-webkit-input-placeholder,
.modal-input-wrap textarea:focus::-webkit-input-placeholder {
    color: #999999;
}

.modal-input-wrap textarea:hover:-ms-input-placeholder,
.modal-input-wrap textarea:focus:-ms-input-placeholder {
    color: #999999;
}

.modal-input-wrap textarea:hover::-ms-input-placeholder,
.modal-input-wrap textarea:focus::-ms-input-placeholder {
    color: #999999;
}

.modal-input-wrap textarea:hover::placeholder,
.modal-input-wrap textarea:focus::placeholder {
    color: #999999;
}

.modal-message {
    padding-top: 20px;
}

.modal-btn-wrapper {
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.modal-btn {
    width: 460px;
    padding-top: 11px;
    padding-bottom: 9px;
    display: block;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    background-color: #ee3643;
}

.modal-btn:hover,
.modal-basket-order:hover {
    background-color: #ca2c37;
}

.modal-btn:active,
.modal-basket-order:active {
    background-color: #ba2732;
}

.modal-close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 16px;
    right: 9px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.modal-close::before {
    content: " ";
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/icon-close.svg");
}

.modal-map {
    width: 960px;
    height: 560px;
    display: none;
    position: fixed;
    top: 15%;
    left: 24%;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.50);
    background-color: #ffffff;
}

.modal-basket-title {
    margin: 0px;
    padding: 72px 0px 68px 55px;
    position: relative;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

.modal-basket-title::before {
    width: 66px;
    height: 66px;
    position: absolute;
    content: " ";
    left: 81px;
    top: 55px;
    background-image: url("../img/icon-mark.svg");
}

.modal-basket-btn {
    padding: 37px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f1f1f1;
}

.modal-basket-order {
    width: 220px;
    margin-right: 20px;
    padding-top: 11px;
    padding-bottom: 9px;
    display: block;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: #ee3643;
}

.modal-basket-shopping {
    width: 220px;
    padding-top: 11px;
    padding-bottom: 9px;
    display: block;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    color: #000000;
    border: none;
    background-color: #ffffff;
}

.modal-show {
    display: block;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

.modal-error {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

.modal-map iframe {
    border: 0;
}

/*-----CATALOG-----*/
/*Header*/

.full-bookmarks {
    padding: 12px 28px 12px 43px;
}

.full-basket {
    padding: 12px 27px 12px 47px;
    background-color: #ee3643;
}

/*Профиль пользователя*/

.user-personal {
    font-family: "Cuprum-Regular", Arial, sans-serif;
}

.user-personal-info {
    width: 299px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.personal-account-on {
    display: block;
    padding: 12px 28px 12px 46px;
    font-family: inherit;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    position: relative;
    color: #000000;
    background-color: #ffffff;
}

.personal-account-on:active {
    color: rgba(0, 0, 0, 0.3);
}

.personal-account-on::before {
    width: 20px;
    height: 18px;
    position: absolute;
    content: " ";
    top: 13px;
    left: 13px;
    opacity: 0.3;
    background-image: url("../img/icon-user.svg");
}

.personal-account-on:hover::before {
    opacity: 1;
}

.personal-account-on:active::before {
    opacity: 0.3;
}

.user-personal-off {
    position: relative;
    background-color: #ffffff;
}

.personal-account-off {
    min-width: 39px;
    min-height: 45px;
    display: block;
}

.personal-account-off::after {
    width: 21px;
    height: 17px;
    position: absolute;
    content: " ";
    top: 14px;
    right: 10px;
    opacity: 0.3;
    background-image: url("../img/icon-logout.svg");
}

.personal-account-off:hover::after {
    opacity: 1;
}

.personal-account-off:active::after {
    opacity: 0.3;
}

.user-personal-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 8px 17px 0px 17px;
    list-style: none;
}

.user-personal-item {
    padding-right: 32px;
}

.my-order,
.personal-link {
    display: block;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
}

.my-order:hover,
.personal-link:hover {
    color: #ee3643;
}

.my-order:active,
.personal-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.my-order {
    position: relative;
}

.my-order::after {
    width: 4px;
    height: 4px;
    position: absolute;
    content: " ";
    right: -20px;
    top: 7px;
    border-radius: 50%;
    background-color: #32425c;
}

/*-----MAIN-----*/

.catalog {
    width: 700px;
    margin-left: 20px;
}

/*Навигация хлебные крошки*/

.breadcrumbs-list {
    margin: 19px 0px 16px 0px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-family: "PTSans-Regular", Arial, sans-serif;
    list-style: none;
    text-transform: uppercase;
}

.home-icon {
    width: 15px;
    height: 12px;
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat;
    background-position: -2px 0;
    background-image: url("../img/icon-home.svg");
}

.breadcrumbs-item {
    position: relative;
    padding-right: 40px;
}

.breadcrumbs-item::after {
    width: 8px;
    height: 12px;
    position: absolute;
    content: " ";
    right: 16px;
    top: 4px;
    background-image: url("../img/icon-right-small.svg");
}

.breadcrumbs-link {
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
}

.breadcrumbs-current {
    padding-right: 40px;
}

.main-content-title {
    margin: 0;
    padding: 31px 28px 28px 28px;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
    background-color: #f2f6f8;
}

/*Фильтр*/

.page-catalog {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "PTSans-Regular", Arial, sans-serif;
}

.filters {
    width: 220px;
}

.filter-title {
    margin: 0;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 3px;
    color: #000000;
    background-color: #f7f3ec;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: solid 1px #000000;
}

.filter-item:last-of-type {
    border: none;
}

.filter-text {
    padding: 10px 0px 15px 0px;
    font-family: "PTSans-Bold", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.range-controls {
    margin-bottom: 9px;
    padding: 39px 20px;
    border-radius: 3px;
    position: relative;
    background-color: #f7f3ec;
}

.range-controls-scale {
    height: 2px;
    background-color: #d7dcde;
}

.range-controls-bar {
    height: 2px;
    width: 85%;
    background-color: #00ca74;
}

.toggle {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    position: absolute;
    top: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 1px 0px #cfcfcf;
    box-shadow: 0px 2px 1px 0px #cfcfcf;
    background-color: #ffffff;
}

.toggle-min::before {
    width: 4px;
    height: 4px;
    position: absolute;
    content: " ";
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: #adadad;
}

.toggle-max {
    right: 40px;
}

.toggle-max::before {
    width: 4px;
    height: 4px;
    position: absolute;
    content: " ";
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background-color: #adadad;
}

.price-controls {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.controls-price-input {
    width: 95px;
    height: 38px;
    padding: 0;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    border-radius: 3px;
    border: none;
    background-color: #f7f3ec;
}

.price-dash {
    padding: 0px 10px;
}

.filter-item:nth-child(2) .filter-text {
    padding: 15px 0px 7px 0px;
}

.filter-manufacturers-list {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: none;
}

.filter-manufacturers-item {
    padding: 10px 0px;
}

.filter-item-label {
    padding-left: 35px;
    display: block;
    font-family: inherit;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    cursor: pointer;
}

.filter-item-label:hover::before {
    opacity: 0.5;
}

.filter-item-input:checked + .filter-item-label::before {
    width: 27px;
    height: 23px;
    position: absolute;
    content: " ";
    bottom: 0px;
    left: 0px;
    background-image: url("../img/checkbox-on.svg");
}

.filter-item-label::before {
    width: 23px;
    height: 23px;
    position: absolute;
    content: " ";
    bottom: 0px;
    left: 0px;
    background-image: url("../img/checkbox-off.svg");
    opacity: 0.3;
}

.filter-item:nth-child(3) .filter-text {
    padding: 17px 0px 6px 0px;
}

.filter-radio-list {
    margin: 0px 0px 65px 0px;
    padding: 0px;
    list-style: none;
}

.filter-radio-item {
    padding: 10px 0px;
}

.filter-radio-label {
    padding-left: 35px;
    display: block;
    font-family: inherit;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    cursor: pointer;
}

.filter-radio-label::before {
    width: 17px;
    height: 17px;
    position: absolute;
    content: " ";
    bottom: -1px;
    left: -1px;
    border-radius: 50%;
    border: solid 4px #4d4d4d;
    opacity: 0.3;
}

.filter-radio-input:hover + .filter-radio-label::before {
    width: 17px;
    height: 17px;
    position: absolute;
    content: " ";
    bottom: -1px;
    left: -1px;
    border-radius: 50%;
    border: solid 4px #4d4d4d;
    opacity: 0.6;
}

.filter-radio-input:checked + .filter-radio-label::after {
    width: 9px;
    height: 9px;
    position: absolute;
    content: " ";
    bottom: 7px;
    left: 7px;
    border-radius: 50%;
    background-color: #4d4d4d;
    opacity: 0.3;
}

.filter-radio-input:checked + .filter-radio-label:hover::after {
    width: 9px;
    height: 9px;
    position: absolute;
    content: " ";
    bottom: 7px;
    left: 7px;
    border-radius: 50%;
    background-color: #4d4d4d;
    opacity: 0.6;
}

.filter-item-input:disabled + .filter-item-label::before,
.filter-radio-input:disabled + .filter-radio-label::before,
.filter-radio-input:disabled + .filter-radio-label::after {
    opacity: 0.1;
}

.filter-item-input:focus + .filter-item-label,
.filter-radio-input:focus + .filter-radio-label {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

.filters-btn {
    width: 140px;
    padding-top: 11px;
    padding-bottom: 8px;
    display: block;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.filters-btn:hover {
    border: solid 1px #bdc6ca;
}

.filters-btn:active {
    border: solid 1px #ee3643;
}

/*Сортировка*/

.sorting {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #f7f3ec;
}

.sorting-description {
    margin: 0;
    padding: 10px 20px;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sorting-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.sorting-link {
    margin: 0px 25px 0px 27px;
    display: block;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: dotted 1px #ee3643;
    color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover {
    border-bottom: solid 1px #ee3643;
    color: #000000;
}

.item-indent {
    margin: 0px 39px 0px 45px;
}

.icon-up {
    margin: 3px 10px 0px 21px;
    border: none;
    opacity: 0.3;
}

.icon-up:hover{
    opacity: 1;
    border: none;
}

.icon-down {
    margin: 3px 17px 0px 11px;
    border: none;
    opacity: 0.3;
}

.icon-down:hover {
    opacity: 1;
    border: none;
}

.sorting-item-active {
    color: #ee3643;
    border: none;
    opacity: 1;
}

.sorting-item-active .active-svg {
    fill: #ee3643;
}

.sorting-item-active:hover .active-svg {
    fill: #000000;
}

/*Пагинация*/

.pagination-list {
    margin: 30px 0px 60px 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.pagination-item {
    margin-right: 10px;
}

.item-active a {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination-link {
    padding: 9px 14px 9px 15px;
    display: block;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    border: solid 1px #e5e5e5;
    border-radius: 3px;
}

.pagination-link:hover {
    border: solid 1px #bdc6ca;
}

.pagination-link:active {
    border: solid 1px #ee3643;
}

.pagination-btn-next {
    width: 109px;
}

.product-info {
    width: 100%;
    background-color: #f2f6f8;
}

.product-description {
    padding-top: 65px;
    padding-bottom: 67px;
}

.product-title {
    margin: 0;
    padding-bottom: 27px;
    font-family: "Cuprum-Regular", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.product-text {
    margin: 0;
    font-family: "PTSans-Regular", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}
